ion-header{
    &::after{
      display: none;
    }
    ion-toolbar{
      --background:var(--ion-color-zombie);
  
      ion-title{
        font-size: 17px;
        font-weight: bold;
        color: #000000;
      }
      ion-button{
        &.notification {
            height: 48px;
            width: 48px;
            margin: 0;
            --border-radius: 50%;
        }
      }
    }
}
ion-content {
    --background: #f2f2f2;
    --padding-start: 16px;
    --padding-end: 16px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 16px 0;
        font-size: 17px;
        font-weight: bold;
        color: #000000;

        ion-buttons {
            width: 100%;
            justify-content: space-between;
            margin-top: 10px;

            ion-button {
                --background: var(--ion-color-zombie);
                --background-activated: var(--ion-color-zombie);
                --box-shadow: none;
                --color: #000000;
                font-size: 11px;
                margin: 0;
                width: calc(50% - 3px);

                ion-icon {
                    margin-right: 5px;
                }
            }
        }
    }

    .toggle_group {
        .toggle_item {
            margin-bottom: 15px;
            border-radius: 7px;
            box-shadow: rgba(0,0,0,0.09) 0px 3px 1px -2px;
            background: #ffffff;

            .accordion_head {
                padding: 10px 16px;
                ion-label {
                    position: relative;
                    margin: 0;
                    h4 {
                        width: 100%;
                        font-size: 15px;
                        line-height: 30px;
                        font-weight: 400;
                        margin-top: 0;
                        padding-right: 50px;
                    } 
                    .icon_group {
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 0;

                        ion-icon {
                            font-size: 23px;
                            color: #be9d4e;
                            &.danger {
                                color: #da1c33;
                            }
                        }
                    }
                }
                ion-buttons {
                    justify-content: space-between;

                    button {
                        display: block;
                        min-width: 60px;
                        height: 26px;
                        font-size: 13px;
                        line-height: 31px;
                        font-weight: 600;
                        padding: 0 10px;
                        color: #ffffff;
                        text-transform: uppercase;
                        margin-top: 7px;
                        border-radius: 3px;
                        background-color: #be9d4e;
                        
                        &.active {
                            background-color: #5ba829;
                        }
                        &.inactive {
                            background-color: #da1c33;
                        }
                    }
                }
            }
            .accordion_content {
                background-color: #ffffff;
                border-top: 1px solid #bfbfbf;
                padding-bottom: 10px;

                .menu_content {
                    padding: 0 16px;
                    p {
                        border-bottom: 1px solid #dfdfdf;
                        margin-bottom: 0;
                        padding-bottom: 10px;
                        font-weight: 400;
                        color: #808080;
                    }
                    ul {
                        padding: 0;
                        margin-bottom: 0;
                        li {
                            font-weight: 600;
                            color: #be9d4e;
                            list-style: none;
                            margin-bottom: 5px;

                            span {
                                font-weight: 400;
                                color: #808080;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    } 
    ion-accordion-group {
        ion-accordion {
            margin-bottom: 15px;
            border-radius: 7px;
            box-shadow: rgba(0,0,0,0.09) 0px 3px 1px -2px;

            ion-item {
                ion-label {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h4 {
                        width: calc(100% - 50px);
                        font-size: 15px;
                        button {
                            display: block;
                            min-width: 60px;
                            height: 24px;
                            font-size: 13px;
                            line-height: 24px;
                            font-weight: 600;
                            padding: 0 10px;
                            color: #ffffff;
                            text-transform: uppercase;
                            margin-top: 7px;
                            border-radius: 5px;
                            background-color: #be9d4e;

                            &.toggle_btn {
                                background-color: #be9d4e;
                            }
                            
                            &.active {
                                background-color: #5ba829;
                            }
                            &.inactive {
                                background-color: #da1c33;
                            }
                        }
                    }
                    .icon_group {
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                        font-size: 0;

                        ion-icon {
                            font-size: 23px;
                            color: #be9d4e;
                            margin-left: 5px;
                            &.danger {
                                color: #da1c33;
                            }
                        }
                    }
                }
                ion-icon {
                    &.ion-accordion-toggle-icon {
                        display: none;
                    }
                }
            }
            .accordion_content {
                border-top: 1px solid #bfbfbf;

                .menu_content {
                    padding: 0 16px;
                    p {
                        border-bottom: 1px solid #dfdfdf;
                        margin-bottom: 0;
                        margin-top: 10px;
                        padding-bottom: 10px;
                        color: #808080;
                        font-weight: 400;
                    }
                    ul {
                        padding: 0;
                        li {
                            font-weight: 600;
                            color: #be9d4e;
                            list-style: none;
                            margin-bottom: 5px;

                            span {
                                font-weight: 400;
                                color: #808080;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    ion-card {
        margin: 0;
        border: 1px solid #F7F7F7;
        border-radius: 10px;
    }
}