ion-header{
    &::after{
      display: none;
    }
    ion-toolbar{
      --background:var(--ion-color-zombie);
  
      ion-title{
        font-size: 17px;
        font-weight: bold;
        color: #000000;
      }
      ion-button{
        &.notification {
            height: 48px;
            width: 48px;
            margin: 0;
            --border-radius: 50%;
        }
      }
    }
}
ion-content {
    --background: #f2f2f2;
    --pading-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 16px 0;
        font-size: 17px;
        font-weight: bold;
        color: #000000;

        ion-button {
            --background: var(--ion-color-zombie);
            --background-activated: var(--ion-color-zombie);
            --box-shadow: none;
            --color: #000000;
            font-size: 11px;
            margin: 0;

            ion-icon {
                margin-right: 5px;
            }
        }
    }
    .product_list_with_form {
        ion-item {
            padding: 6px 0;
            margin-bottom: 10px;
            background-color: #ffffff;

            .sl_no {
                font-size: 14px;
                font-weight: 600;
                margin-right: 13px;
                margin-left: 13px;
                min-width: 20px;
            }
            h1 {
                width: calc(100% - 85px);
                font-size: 13px;
                line-height: 20px;
                margin: 0;

                span {
                    display: block;
                    font-size: 13px;
                }
            }
            ion-label {
                min-width: 90px;
                margin-right: 15px;
            }
            ion-input {
                width: 30px;
                border: 1px solid #d0d0d0;
                text-align: center;
                line-height: 30px;
                --min-height: 30px;
                --padding-top: 3px;
                --padding-end: 3px;
                --padding-bottom: 3px;
                --padding-start: 3px;
            }
        }
        ion-buttons {
            justify-content: space-between;
            ion-button {
                width: calc(50% - 5px);
                background-color: var(--ion-color-zombie);
                --border-radius: 0;
                height: 48px;
                margin: 0;
                font-size: 16px;
                font-weight: 600;
                &.danger {
                    background-color: #eb445a;
                    color: #ffffff;
                }
            }
        }
    }
    ion-accordion-group {
        ion-accordion {
            margin-bottom: 15px;
            border-radius: 7px;
            box-shadow: rgba(0,0,0,0.09) 0px 3px 1px -2px;

            ion-item {
                .list_item {
                    display: block;
                    width: 100%;
                    padding: 10px 0;

                    ion-label {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h4 {
                            width: calc(100% - 70px);
                            font-size: 15px;
                            font-weight: 600;
                            margin-top: 0;
                            button {
                                display: block;
                                min-width: 60px;
                                height: 24px;
                                font-size: 12px;
                                line-height: 24px;
                                font-weight: 600;
                                padding: 0 9px;
                                color: #ffffff;
                                text-transform: uppercase;
                                margin-top: 7px;
                                border-radius: 3px;
                                background-color: #be9d4e;
                                
                                &.active {
                                    background-color: #5ba829;
                                }
                                &.inactive {
                                    background-color: #da1c33;
                                }
                                &.disabled {
                                    background-color: #767676;
                                }
                            }
                            span {
                                display: block;
                                font-weight: 400;
                                color: #808080;
                                margin-top: 5px;
                            }
                        }
                        ion-icon {
                            display: inline-block;
                            font-size: 23px;
                            color: #be9d4e;
                        }
                    }
                    ion-icon {
                        &.ion-accordion-toggle-icon {
                            display: none;
                        }
                    }
                    ion-buttons {
                        ion-button {
                            display: block;
                            min-width: 60px;
                            height: 24px;
                            font-size: 12px;
                            line-height: 24px;
                            font-weight: 600;
                            padding: 0 9px;
                            color: #ffffff;
                            text-transform: uppercase;
                            margin-top: 7px;
                            border-radius: 3px;
                            
                            &.reprt_btn {
                                background-color: #be9d4e;
                            }
                            &.active {
                                background-color: #5ba829;
                            }
                            &.inactive {
                                background-color: #da1c33;
                            }
                            &.disabled {
                                background-color: #767676;
                            }
                        }
                    }
                }
            }
            .accordion_content {
                border-top: 1px solid #bfbfbf;

                .menu_content {
                    padding: 0 16px;
                    p {
                        border-bottom: 1px solid #dfdfdf;
                        margin-bottom: 0;
                        margin-top: 10px;
                        padding-bottom: 10px;
                        font-weight: 400;
                        color: #808080;
                    }
                    ul {
                        padding: 0;
                        margin-top: 7px;
                        li {
                            font-weight: 600;
                            color: #be9d4e;
                            list-style: none;
                            margin-bottom: 5px;

                            span {
                                font-weight: 400;
                                color: #808080;
                                margin-right: 10px;
                            }

                            &.particulars_amount {
                                border-top: 1px solid #dfdfdf;
                                margin-top: 10px;
                                p {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    border-bottom: 0;
                                    padding-bottom: 0;
                                    color: #000000;
                                }

                                &.total {
                                    p:last-child {
                                        text-transform: uppercase;
                                        font-weight: 600;
                                        span {
                                            color: #000000;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}