<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Hi, {{userDetails?.name}}</ion-title>
    <ion-buttons slot="end" class="icon_btn" routerLink="/outlet-account">
      <ion-icon name="person"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sales_overview">
    <ion-icon name="cash" class="cash_icon"></ion-icon>
    <span class="sales_top_title">Total Sales Amount</span>
    <h1 class="sales_title"><span>$</span>{{dashBoardData?.shop_data?.total_amount| number : '.0-2'}}</h1>
    <div class="sales_sub_view">
      <div class="sales_sub_view_item">
        <p>Liquor</p>
        <h2><span>$</span>{{dashBoardData?.shop_data?.total_liquor_value| number : '.0-2'}}</h2>
      </div>
      <div class="sales_sub_view_item">
        <p>Food</p>
        <h2><span>$</span>{{dashBoardData?.shop_data?.total_food_value| number : '.0-2'}}</h2>
      </div>
    </div>
  </div>
  <ion-slides class="overview_slide" [options]="homeSlide">
    <ion-slide>
      <div class="overview_slide_item burlywood">
        <div class="item_content">
          <p>Total No Of Orders</p>
          <h3>{{dashBoardData?.shop_data?.total_orders}}</h3>
        </div>
        <ion-icon name="trending-up-sharp"></ion-icon>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="overview_slide_item green">
        <div class="item_content">
          <p>Total Sales Value For Vault</p>
          <h3>${{dashBoardData?.shop_data?.total_vault_value}}</h3>
        </div>
        <ion-icon name="trending-up-sharp"></ion-icon>
      </div>
    </ion-slide>
  </ion-slides>

  <h2 class="title">Top Sold Items <span routerLink="/item-wise-sales-report">View All</span></h2>
  <div class="toggle_group">
    <div class="toggle_item" *ngFor="let items of dashBoardData?.top_items">
      <div class="accordion_head">
        <ion-label>
          <h4>#{{items.product_name}}<span>Unit Sold : {{items.total_unit}} Units</span></h4> 
          <p>$ {{items.sales_value| number : '.0-2'}}</p>
        </ion-label>
      </div>
    </div>
   
    <!-- <div class="toggle_item">
      <div class="accordion_head">
        <ion-label>
          <h4>#VAT 69 <span>Unit Sold : 35 Units</span></h4> 
          <p>$ 838</p>
        </ion-label>
      </div>
    </div> -->
  </div>
  
</ion-content>